.actions{
  margin-top: 3px;
  display: flex;
  justify-content: flex-end;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    background-color: $main-color;
    border-radius: 100%;

    img {
      width: 50%;
    }
  }
}