.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__navLink {
    padding: 10px 70px;
    color: $second-color;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &_active {
      color: $main-color;
      border-bottom: 2px solid $main-color;
    }
  }
}